[tool.poetry]
name = "fabrics"
version = "0.2.15"
description = "Optimization fabrics in python."
authors = ["Max Spahn <m.spahn@tudelft.nl>"]

[tool.poetry.dependencies]
python = "^3.6.2,<3.10"
casadi = "3.5.6.pre2"
numpy = "^1.5.1"
geomdl = "^5.3.1"
motion_planning_scenes = {git = "https://git@github.com/maxspahn/motion_planning_scenes.git", rev = "main"}
gym = { version = "^0.21.0", optional = true}
scipy = {version = "^1.5.1", optional = true}
matplotlib = {version = "^3.3.1", optional = true}
forwardkinematics = {git = "https://git@github.com/maxspahn/forwardKinematics.git", rev = "main"}
planarenvs = {git = "https://git@github.com/maxspahn/gym_envs_planar.git", rev = "master", optional = true}
urdfenvs = {git = "https://git@github.com/maxspahn/gym_envs_urdf.git", rev = "master", optional = true}
dataclasses = { version = "^0.8", python = "<3.7" }
pyquaternion = "^0.9.9"

[tool.poetry.dev-dependencies]
pylint = "^2.13.4"
pytest = "^6.2.5"

[tool.poetry.extras]
agents = ["gym", "planarenvs", "urdfenvs"]
tutorials = ["scipy", "matplotlib"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
