pytest~=5.3
casadi==3.5.1
gym==0.17.3
numpy==1.19.5
pybullet>=3.17
-e git+https://github.com/maxspahn/robotUtils.git#egg=robotUtils
-e git+https://github.com/maxspahn/gym_envs_planar.git#egg=planarEnvs
-e git+https://github.com/maxspahn/gym_envs_urdf.git#egg=urdfEnvs
-e git+https://github.com/maxspahn/urdf2casadi.git#egg=urdf2casadi
